<div class="">

  <div md-dialog-title>

    <h3 class="header-text">Resim Yükle</h3>

  </div>

  <md-dialog-content>

    <form #f="ngForm" (ngSubmit)="uploadImage(f)">

      <img src="" id="img">

      <input type="file" #file style="display: none" (change)="showImage('img')" ngModel name="image">

      <div class="form-group">

        <button md-button (click)="file.click()" type="button">Resim Yükle</button>

      </div>

      <div class="form-group" *ngIf="uploading">

        <md-progress-bar
          [mode]="mode"
          [value]="length">
      </md-progress-bar>

      </div>

      <div class="form-group">

        <md-input-container class="form-group">
          <input mdInput type="text" placeholder="Resim İsmi" ngModel name="name">
        </md-input-container>

      </div>

      <div class="form-group">

        <md-input-container class="form-group">
          <input mdInput type="text" placeholder="Resim Alt İsmi" ngModel name="alt" required>
        </md-input-container>

      </div>

      <div class="form-group">

        <md-checkbox ngModel name="public">Herkese Açık</md-checkbox>

      </div>

      <button type="submit" #submit style="display: none"></button>

    </form>

  </md-dialog-content>

  <md-dialog-actions>

    <button md-raised-button color="warn" md-dialog-close>İptal</button>

    <button md-raised-button (click)="submit.click()">Kaydet</button>

  </md-dialog-actions>

</div>
