<md-spinner *ngIf="!user || !menus" class="loading"></md-spinner>

<md-sidenav-container id="main-sidenav-container" class="example-container" *ngIf="user && menus">

  <md-sidenav #sidenav id="main-sidenav">

  </md-sidenav>

  <md-toolbar id="main-menu">

    <a [routerLink]="one.url" routerLinkActive="active" *ngFor="let one of menus; let i = index"><button md-button [mdTooltip]="one.tooltip">{{one.name}}</button></a>

    <button md-button color="warn" [mdMenuTriggerFor]="menu">{{user.name}}</button>
    <md-menu #menu="mdMenu">

      <a routerLink="/management/profile"><button md-button class="open-menu-btn">Profile</button></a>

      <!--<button md-menu-item (click)="changeTheme()">Tema</button>!-->

      <a routerLink="/auth/logout"><button md-button class="open-menu-btn">Çıkış</button></a>
    </md-menu>

    <button md-button (click)="sidenav.open()">_--_</button>

  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-container>
