[submodule "src/app/auth"]
	path = src/app/auth
	url = https://github.com/Blowedminds/Angular-Module-Auth
[submodule "src/app/article"]
	path = src/app/article
	url = https://github.com/Blowedminds/Angular-Module-Article
[submodule "src/app/admin"]
	path = src/app/admin
	url = https://github.com/Blowedminds/Angular-Module-Admin
[submodule "Angular-Module-Image"]
	path = Angular-Module-Image
	url = https://github.com/Blowedminds/Angular-Module-Image
