<mat-spinner *ngIf="!isPageReady" class="loading"></mat-spinner>

<div class="main-container" *ngIf="isPageReady"> 
  
  <mat-toolbar class="topbar telative">
     
      <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">GO HOME</a>
      </div>

      <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
        <span>-_|_-</span>
      </button>
      <span fxFlex></span>

      <app-header [user]="user"></app-header>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">

      <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" mode="side" opened="true" fixedTopGap="0">
          
              <app-sidebar [menus]="menus" [user]="user"></app-sidebar>
             
      </mat-sidenav>

      <mat-sidenav-content class="page-wrapper">
               
              <div class="page-content">
                 
                      <router-outlet></router-outlet>
                  
              </div>    
             
      </mat-sidenav-content>

  </mat-sidenav-container>
</div>