<mat-spinner *ngIf="!articles || !properties || !user_info" class="loading"></mat-spinner>

<div class="article" *ngIf="articles && properties && user_info">

  <div class="cs-container">

    <div class="">
      <a routerLink="trash"><button mat-button>Çöplük</button></a>
    </div>

    <div class="row">
      <div class="col-md-3" *ngFor="let one of articles.data; let i = index">
        <mat-card>

          <button *ngIf="properties.languages.length > one.contents.length" mat-mini-fab (click)="openAddLanguage(i)" id="language-add">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <button mat-mini-fab (click)="openEditMainDialog(i)" id="language-edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>

          <div class="group-container">
            <p><strong>Yazar </strong>{{one.author.name}}</p>
          </div>

          <div class="group-container">
            <p><strong>Slug </strong>{{one.slug}}</p>
          </div>

          <div class="group-container">
            <p><strong>View Time </strong>{{one.views}}</p>
          </div>

          <div class="group-container">
            <p><strong>Category </strong><span *ngFor="let category of one.categories">{{category.name}}, </span></p>
          </div>

          <mat-tab-group>

            <!-- [label]="properties.languages[one.contents[k].language - 1].name"!-->
            <mat-tab [label]="findLanguage(article_content.language_id)" *ngFor="let article_content of one.contents; let k = index">

              <h3 class="header-text article-header">{{article_content.title.slice(0, 20)}}</h3>

              <hr>

              <div class="group-container">
                <p><strong>Yayınlanma</strong>
                  <i class="fa fa-check" aria-hidden="true" *ngIf="article_content.published == 1"></i>
                  <i class="fa fa-times" aria-hidden="true" *ngIf="article_content.published == 0"></i>
                </p>
              </div>

              <div class="group-container">
                <p><strong>Sürüm</strong> {{article_content.version}}</p>
              </div>

              <div class="centered">

                <button mat-raised-button (click)="openEditDialog(article_content)">Düzenle</button>

              </div>

            </mat-tab>
          </mat-tab-group>

        </mat-card>
      </div>
    </div>

    <mat-paginator [length]="articles.total"
          [pageSize]="intval(articles.per_page)"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="articles.current_page - 1"
          (page)="getArticlesPaginate($event)">
    </mat-paginator>

  </div>

  <button mat-fab class="add-btn" (click)="openDialog()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>

</div>
