<div *ngIf="isPageReady">

  <div>
    <h3 class="header-text">{{article.content.title}} / {{language.name}}</h3>
  </div>

  <form #f="ngForm" (ngSubmit)="editArticle(f)">

    <div class="form-group">

      <mat-input-container>
        <input matInput placeholder="Makale Başlığı" [ngModel]="article.content.title" name="title">
      </mat-input-container>

    </div>

    <div class="form-group">

      <mat-input-container>
        <input  matInput placeholder="Makale Alt Başlığı" [ngModel]="article.content.sub_title" name="sub_title">
      </mat-input-container>

    </div>

    <div class="form-group">

      <textarea ngModel name="body" id="tinymce-textarea" #tiny></textarea>

    </div>

    <div class="form-group">

      <mat-input-container>
        <input  matInput placeholder="Etiketler" [ngModel]="article.content.keywords" name="keywords">
      </mat-input-container>

    </div>

    <div class="form-group">

      <mat-select placeholder="Dil" [ngModel]="language.id" name="language" disabled>
        <mat-option [value]="language.id">
          {{ language.name }}
        </mat-option>
      </mat-select>

    </div>

    <div class="form-group">

      <mat-checkbox [ngModel]="article.content.published" name="published">Yayımla</mat-checkbox>

    </div>

    <button mat-raised-button type="button" color="warn">İptal</button>

    <button mat-raised-button type="submit" [disabled]="!f.valid">Kaydet</button>
  </form>



</div>
