<mat-spinner *ngIf="!images || !API_URL" class="loading"></mat-spinner>

<div class="cs-container" *ngIf="images && API_URL">

  <div class="row">
    <h2>Public</h2>

    <div class="image-col" *ngFor="let one of images.public">
      <a [routerLink]="['/management/albums/edit', one.u_id]">
        <p>{{one.name}}</p>
          <img src="{{API_URL + THUMB_URL + one.u_id +'?token=' + getToken()}}" [alt]="one.alt">
      </a>
    </div>

  </div>

  <div class="row">
    <h2>Private</h2>

    <div class="image-col" *ngFor="let one of images.private">

      <a [routerLink]="['/management/albums/edit', one.u_id]">
        <p>{{one.name}}</p>
        <img src="{{API_URL + THUMB_URL + one.u_id +'?token=' + getToken()}}">
      </a>
    </div>
  </div>


  <button mat-fab class="add-btn" (click)="openImageUploader()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>

</div>
