<mat-card *ngIf="isPageReady">
  <div class="">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <td>ID</td>
          <td>Kullanıcı Adı</td>
          <td>İsim</td>
          <td>E-posta</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" [routerLink]="['/user', user.user_id]">
          <td>{{user.id}}</td>
          <td>{{user.user_id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>

    <button mat-fab class="add-btn" routerLink="/user">
      Ekle
    </button>
  </div>
  <!-- <div class="columns is-desktop">

    <div class="column is-one-third">
      <div class="columns is-multiline">
        <div class="column is-half has-text-centered" *ngFor="let user of users">
          <button mat-button (click)="selectUser(user)">
            {{user.name}}
          </button>
        </div>
      </div>

      <div class="columns">
        <div class="column has-text-centered">
          <button mat-mini-fab (click)="selectUser(default_user)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="column is-one-third">

      <form (ngSubmit)="submitForm(f)" #f="ngForm" class="form one-page-form" *ngIf="edit_user">

        <i class="fa fa-window-close" aria-hidden="true" (click)="edit_user = null" style="float: right"></i>

        <input type="hidden" name="id" [ngModel]="edit_user.id" name="id" required>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="İsim" [ngModel]="edit_user.name" name="name" required autofocus>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Slug" [ngModel]="edit_user.email" name="email" required autofocus>
        </mat-form-field>

        <mat-form-field class="form-group">
          <input matInput type="text" placeholder="Description" [ngModel]="edit_user.user_id" name="user_id" required autofocus>
        </mat-form-field>

        <button mat-raised-button type="submit">{{ edit_user.id ? 'Güncelle' : 'Ekle'}}</button>

        <button mat-raised-button type="button" id="delete" color="warn" (click)="delete(edit_user.id)" *ngIf="edit_user.id">Sil</button>

      </form>
    </div>

  </div> -->
</mat-card>