<div *ngIf="properties && id">

  <div mat-dialog-title>
    <h3 class="header-text">Yeni Bir Dil Ekle</h3>
  </div>

  <mat-dialog-content>

    <form #f="ngForm" (ngSubmit)="addLanguageArticle(f)">

      <div class="form-group">

        <mat-input-container>
          <input matInput placeholder="Makale Başlığı" ngModel name="title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Makale Alt Başlığı" ngModel name="sub_title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container class="textarea-body">
          <textarea  matInput ngModel name="body" id="tinymce-textarea"></textarea>
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Etiketler" ngModel name="keywords">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-select placeholder="Dil" ngModel name="language">
          <mat-option *ngFor="let one of properties" [value]="one.id">
            {{ one.name }}
          </mat-option>
        </mat-select>

      </div>

      <div class="form-group">

        <mat-checkbox [(ngModel)]="published" name="published">Yayımla</mat-checkbox>

      </div>

      <button #submit type="submit" style="display:none"></button>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close>İptal</button>

    <button mat-raised-button (click)="submit.click()" [disabled]="!f.valid">Kaydet</button>

  </mat-dialog-actions>

</div>
