<div *ngIf="add_languages && article">

  <form #f="ngForm" (ngSubmit)="addLanguageArticle(f)">

    <div class="form-group">

      <mat-input-container>
        <input matInput placeholder="Makale Başlığı" ngModel name="title">
      </mat-input-container>

    </div>

    <div class="form-group">

      <mat-input-container>
        <input  matInput placeholder="Makale Alt Başlığı" ngModel name="sub_title">
      </mat-input-container>

    </div>

    <div class="form-group">

      <textarea ngModel name="body" id="tinymce-textarea" #tiny></textarea>

    </div>

    <div class="form-group">

      <mat-input-container>
        <input  matInput placeholder="Etiketler" ngModel name="keywords">
      </mat-input-container>

    </div>

    <div class="form-group">

      <mat-select placeholder="Dil" ngModel name="language_id">
        <mat-option *ngFor="let language of add_languages" [value]="language.id">
          {{ language.name }}
        </mat-option>
      </mat-select>

    </div>

    <div class="form-group">

      <mat-checkbox [(ngModel)]="published" name="published">Yayımla</mat-checkbox>

    </div>

    <button mat-raised-button type="button" color="warn">İptal</button>

    <button mat-raised-button type="submit" [disabled]="!f.valid">Kaydet</button>

  </form>

</div>
