
<div *ngIf="properties">
  <div mat-dialog-title>
    <h3 class="header-text">Yeni Makale Ekle</h3>
  </div>

  <mat-dialog-content>

    <form #f="ngForm" (ngSubmit)="addArticle(f)">

      <div class="form-group">

        <mat-input-container>
          <input matInput placeholder="Makale Başlığı" ngModel name="title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Makale Alt Başlığı" ngModel name="sub_title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container class="textarea-body">
          <textarea  matInput ngModel name="body" id="tinymce-textarea"></textarea>
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Etiketler" ngModel name="keywords">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Slug" ngModel name="slug">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-select placeholder="Dil" ngModel name="language_id">
          <mat-option *ngFor="let one of properties.languages" [value]="one.id">
            {{ one.name }}
          </mat-option>
        </mat-select>

      </div>

      <div class="form-group">
        <h5>Kategoriler</h5>

        <ul>
          <li *ngFor="let category_item of categories; let i = index">{{category_item.name}} <span class="" (click)="deleteCategory(i)">X</span></li>
        </ul>

      </div>

      <div class="form-group">

        <mat-select placeholder="Eklenecek Kategori" #addcategory>
          <mat-option *ngFor="let one of add_categories" [value]="one.id">
            {{ one.name }}
          </mat-option>
        </mat-select>

        <button mat-raised-button (click)="addCategory(addcategory)" type="button">Ekle</button>

      </div>

      <div class="form-group">

        <mat-checkbox [(ngModel)]="published" name="published">Yayımla</mat-checkbox>

      </div>

      <div class="form-group">

        <img src="" id="img">

        <!--<input id="file-input" #fileInput type="file" (change)="showImage('img')" placeholder="Ürünün Resmi" name="image" ngModel style="display:none">
!-->

        <button mat-raised-button type="button" (click)="openImageSelect()">Resim Seç</button>

      </div>

      <button #submit type="submit" style="display:none"></button>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close>İptal</button>

    <button mat-raised-button (click)="submit.click()" [disabled]="!f.valid">Kaydet</button>

  </mat-dialog-actions>

</div>
