<div *ngIf="properties">

  <div mat-dialog-title>
    <h3 class="header-text">{{article_content.title}} / {{language.name}}</h3>
  </div>

  <mat-dialog-content>

    <form #f="ngForm" (ngSubmit)="editArticle(f)">

      <div class="form-group">

        <mat-input-container>
          <input matInput placeholder="Makale Başlığı" [ngModel]="article_content.title" name="title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Makale Alt Başlığı" [ngModel]="article_content.sub_title" name="sub_title">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container class="textarea-body">
          <textarea matInput [ngModel]="article_content.body" name="body" id="tinymce-textarea"></textarea>
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-input-container>
          <input  matInput placeholder="Etiketler" [ngModel]="article_content.keywords" name="keywords">
        </mat-input-container>

      </div>

      <div class="form-group">

        <mat-select placeholder="Dil" [ngModel]="language.id" name="language" disabled>
          <mat-option *ngFor="let one of properties.languages" [value]="one.id">
            {{ one.name }}
          </mat-option>
        </mat-select>

      </div>

      <div class="form-group">

        <mat-checkbox [ngModel]="article_content.published" name="published">Yayımla</mat-checkbox>

      </div>

      <button #submit type="submit" style="display:none"></button>

    </form>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="warn" mat-dialog-close>İptal</button>

    <button mat-raised-button (click)="submit.click()" [disabled]="!f.valid">Kaydet</button>

  </mat-dialog-actions>

</div>
